[user]
	email = 55973521+lucasrouchy@users.noreply.github.com
	name = Lucas
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
