<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	f3TaDc+jmFMVz252spFcwDbJeYbQz1RRONhssBkIxCHQSAzRsDvxUCRFHMtXwf4MCPlO
	6T5yG5cWJ4X25rzmbFTI3EVmkFtooa96utuGmA8JHFVH1ZOB81iTL9Mebatbz0/EFf0v
	MjE2dyF/Fng+mJSQO1HfG42wbsP9MFmLPmE=
	</data>
	<key>answer</key>
	<string>1027279102_086CBB08ADF55C335EFAAF83BA268255</string>
	<key>components</key>
	<string/>
	<key>device_id</key>
	<string>434F19E1112F3C6C55FCB8A704376C92</string>
	<key>disabled_features</key>
	<string/>
	<key>email</key>
	<string>lucasrouchy1@gmail.com</string>
	<key>expiry_date</key>
	<string>2017-08-26 23:59:59 UTC</string>
	<key>id</key>
	<integer>1251639</integer>
	<key>name</key>
	<string>lucasrouchy1@gmail.com</string>
	<key>resource_limits</key>
	<string>H4sIAAAAAAAEAGWPQYvCQAyFzxb8D9LzHtwFL97EVdnTFqfgeWyjRtvJkKYgiv/d6VRslj2+Ly8vL/dxMkqNZxRIJ/PJ1/SjAzlW0IA0EUViqHVl1J+9JbNyinrWzwtGL9pgTrYEjqQHa3KiNnKsoUIH6sjv/gzFK6Q3bYnqJh29l76t2ENXbohdXQVcg+QUW5I74FGBHK7SMmT2CAZvMAwyW1wCXDJYCRnDIDzMBYQgYaoG/FN7YtHX/2qzWyvhw3//SmyYWq+6LdoSScFx8ngC2rrfEpYBAAA=</string>
	<key>status</key>
	<string>success</string>
	<key>token</key>
	<string>7bd0a4856b2c4bbe427cdbae4df094c7</string>
</dict>
</plist>